/* Program Progress
--------------------------------------------- */

.progress-button.connected::before,
.widget-program-step.completed a::after {
	display: inline-block;
	content: "\2713 ";
	font-weight: bold;
}

.progress-button.connected::before {
	font-size: 22px;
	margin: -20px 8px -16px -4px;
	vertical-align: middle;
}

/* Widget */

.widget-program-step a {
	display: -ms-flexbox;display: flex;
	-ms-flex-pack: start;justify-content: flex-start;
	-ms-flex-align: center;-ms-grid-row-align: center;align-items: center;
}

.widget-program-step.completed a::after {
	padding-left: 14px;
	margin-left: auto;
	font-size: 20px;
}

/* Flexbox Tables
--------------------------------------------- */

.wtable {
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 4px;
	overflow: hidden;
}

.wtable-row,
.entry-content .wtable-row {
	display: -webkit-flex;display: -ms-flexbox;display: flex;
	-webkit-align-items: center;-ms-flex-align: center;align-items: center;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 0;
	margin: 0;
}

.wtable-row:last-of-type {
	border-bottom: 0;
}

.wtable-cell {
	padding: 10px;
}

.wtable-auto {
	flex: 0 0 auto;
}

.wtable-grow {
	flex: 1 1 auto;
}

.wtable-image {
	width: 100%;
	max-width: 140px;
}

.wtable-image .wp-post-image,
.entry-content .wtable-image .wp-post-image {
	display: block;
	margin: 0;
}

.wtable-title {
	font-size: 18px;
    line-height: 1.4;
}

.wtable-desc {
	font-size: 14px;
	margin-top: 4px;
}

.wtable-title,
.wtable-desc {
	display: block;
}

.wtable-header {
	width: 100%;
	background-color: rgba(0,0,0,0.05);
	font-weight: bold;
	padding: 8px 20px;
}

.button.wtable-button,
.entry-content .button.wtable-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: .618em 1em;
    border-radius: 3px;
    color: #515151;
    background-color: #ebe9eb;
    border: 0;
    white-space: nowrap;
	margin: 2px;
}

.button.wtable-button:hover,
.entry-content .button.wtable-button:hover {
	background-color: #dad8da;
    color: #515151;
    border: 0;
}

@media only screen and (max-width: 668px) {

	.wtable-row,
	.wtable-cell {
		-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;
	}

	.wtable-cell {
		width: 100%;
	}

}