/* Buttons
--------------------------------------------- */

.button.wtable-button,
.entry-content .button.wtable-button,
.wampum-pagination .pagination-previous a,
.wampum-pagination .pagination-next a {
    color: #515151;
    background-color: #ebe9eb;
    border: none;
    border-radius: 3px;
    white-space: nowrap;
}

.button.wtable-button:hover,
.entry-content .button.wtable-button:hover,
.wampum-pagination .pagination-previous a:hover,
.wampum-pagination .pagination-next a:hover {
    background-color: #dad8da;
    color: #515151;
    border: none;
}

/* Pagination
--------------------------------------------- */

.wampum-pagination .pagination-previous a,
.wampum-pagination .pagination-next a {
    display: inline-block;
    font-size: 15px;
    padding: 2px 10px;
    margin: 2px 0;
}

.wampum-pagination .pagination-previous a::before,
.wampum-pagination .pagination-next a::after {
    display: inline-block;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
}

.wampum-pagination .pagination-previous a::before {
    content: '\02190';
    margin-right: 8px;
}

.wampum-pagination .pagination-next a::after {
    content: '\02192';
    margin-left: 8px;
}

/* Flexbox Tables
--------------------------------------------- */

.wtable {
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 4px;
    overflow: hidden;
}

.wtable-row,
.entry-content .wtable-row {
    display: -webkit-flex;display: -ms-flexbox;display: flex;
    -webkit-align-items: center;-ms-flex-align: center;align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 0;
    margin: 0;
}

.wtable-row:last-of-type {
    border-bottom: 0;
}

.wtable-cell {
    padding: 10px;
}

.wtable-auto {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

.wtable-grow {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.wtable-image {
    width: 100%;
    max-width: 140px;
}

.wtable-image .wp-post-image,
.entry-content .wtable-image .wp-post-image {
    display: block;
    margin: 0;
}

.wtable-title {
    font-size: 18px;
    line-height: 1.4;
}

.wtable-desc {
    font-size: 14px;
    margin-top: 6px;
}

.wtable-title,
.wtable-desc {
    display: block;
}

.wtable-header {
    width: 100%;
    background-color: rgba(0,0,0,0.05);
    font-weight: bold;
    padding: 8px 20px;
}

.button.wtable-button,
.entry-content .button.wtable-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: .618em 1em;
    white-space: nowrap;
    margin: 2px;
}

@media only screen and (max-width: 668px) {

    .wtable-row,
    .wtable-cell {
        -webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;
    }

    .wtable-cell {
        width: 100%;
    }

}

/* Popup Overlay
--------------------------------------------- */

/*
Full Screen Overlay/Underlay/Popup
--------------------------------------------- */

.wpopup {
    background-color: rgba(0, 0, 0, 0.8);
    display: -ms-flexbox;display: -webkit-flex;display: flex;
    -ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;
    -ms-flex-align: center;-webkit-align-items: center;align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 3%;
    overflow: auto;
    z-index: 100000; /* wp admin bar is 99999 */
    -webkit-animation: wfadein 0.5s;
    animation: wfadein 0.5s;
}

.wpopup-content {
    position: relative;
    background-color: #fff;
    width: 96%;
    padding: 24px;
    margin: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    border-radius: 3px;
    -webkit-animation: wscalein 0.5s;
    animation: wscalein 0.5s;
}

.wpopup-overlay p:last-of-type {
    margin-bottom: 0;
}

.wpopup-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: #333;
    font-family: Arial;
    font-size: 30px;
    font-weight: normal;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    border: none;
    box-shadow: none;
    opacity: 0.65;
}

.wpopup-close:hover {
    opacity: 1;
}

/* Animations */

/* Fade In */
@-webkit-keyframes wfadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes wfadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Scale In */
@-webkit-keyframes wscalein {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes wscalein {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
