.wampum-membership {
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.wampum-membership .button {
    background: #eee;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 14px;
    border-radius: 3px;
}

.my-posts {
}

.my-post-heading,
.my-post {
	display: -webkit-flex;display: -ms-flexbox;display: flex;
}

.my-post {
	padding: 5px;
	margin-bottom: -1px;
	border: 1px solid #e4e4e4;
}

.my-post:first-child {
	border-radius: 3px 3px 0 0;
}

.my-post:last-child {
	border-radius: 0 0 3px 3px;
}

.post-heading {
	font-weight: 600;
}

.post-heading,
.post-item {
	display: -webkit-flex;display: -ms-flexbox;display: flex;
	-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;
	-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;
	-webkit-flex-grow: 0;-ms-flex-positive: 0;flex-grow: 0;
	padding: 8px;
}

.post-heading.post-image,
.post-item.post-image {
	min-width: 120px;
	max-width: 120px;
	text-align: center;
}

.post-item.post-image img {
	display: block;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.post-heading.post-content,
.post-item.post-content {
	-webkit-flex-grow: 2;-ms-flex-positive: 2;flex-grow: 2;
	color: #2f353e;
}

.post-item.post-content a {
	color: #515151;
	font-size: 20px;
	font-weight: bold;
}

.entry-content .post-content a:hover {
	color: #31e2ad;
}

.post-item.post-actions {
	-webkit-justify-content: right;-ms-flex-pack: right;justify-content: right;
}

.post-item .button {
	-webkit-align-self: center;-ms-flex-item-align: center;align-self: center;
	background-color: #31e2ad;
	font-size: 13px;
	padding: 4px 12px;
	margin: 6px 3px;
}

.post-item .button:hover {
	background-color: #1cc492;
}

@media only screen and (max-width: 768px) {

	.post-heading {
		display: none;
		visibility: hidden;
	}

	.my-post,
	.post-item {
		display: block;
		width: 100%;
	}
	.post-item.post-content a {
		display: block;
	}
	.post-item.post-actions {
		text-align: left;
	}

}